<header class="header">
    <div id="userInfo" hidden>{{jsonData}}</div>
    <span class="heading--primary">Red Cross</span><br>
    <span class="heading--sub">Blood management System</span>
    <ul>
      <li><a class="active" (click)="userHomePage()">Home</a></li>
      <li><a><span class="navbar-links" (click)="searchBloodBankPage()">Search Blood Bank</span></a></li>
      <li><a><span class="navbar-links" (click)="searchDonorPage()">Search Donor</span></a></li>
      <li><a ><span class="navbar-links" (click)="updateProfilePage()">Update Profile</span></a></li>
      <li><a><span class="navbar-links" (click)="viewAppointmentUser()">View Appointment</span></a></li>
      <li><a><span class="navbar-links" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</span></a></li>
      </ul>
   </header>
<div class="example-container">
    <mat-form-field>
      <mat-select placeholder="Blood Group" [(ngModel)]="bloodGroupVaue" required>
      <mat-option value="O+ve">O+ve</mat-option>
      <mat-option value="O-ve">O-ve</mat-option>
      <mat-option value="A+ve">A+ve</mat-option>
      <mat-option value="A-ve">A-ve</mat-option>
      <mat-option value="A+ve">B+ve</mat-option>
      <mat-option value="A-ve">B-ve</mat-option>
      <mat-option value="AB+ve">AB+ve</mat-option>
      <mat-option value="AB+-ve">AB-ve</mat-option>
    </mat-select>
  </mat-form-field>
               &nbsp;&nbsp;&nbsp;
          <input class="searchZipCode" placeholder="Zip Code" [(ngModel)]="zipCodeValue">    
          <button type="button" (click)='searchDonor()' class="btn-searchPage">Search Donor</button>
      </div>
  <div class="mapSearch">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8-table">
               <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Name </th>
                 <td mat-cell *matCellDef="let element">
                  <button class="table-btn" (click)="connect(element)">Connect</button> &nbsp; &nbsp; &nbsp; {{element.name}} </td>
               </ng-container>
              <ng-container matColumnDef="bloodGroup">
                 <th mat-header-cell *matHeaderCellDef> Blood Group </th>
                 <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
               </ng-container>
               
               <ng-container matColumnDef="zipCode">
                 <th mat-header-cell *matHeaderCellDef> Zip Code </th>
                 <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             </table>
         </div>
 <footer id="footer"></footer>
 <router-outlet></router-outlet>
   