<header class="header">
  <span class="heading--primary">Red Cross</span><br>
  <span class="heading--sub">Blood management System</span>
 </header>
<div class="example-container">
  <span class="heading--register">Register User</span><br><br><br>
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full Name" [(ngModel)]="name" required> 
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email Id" [(ngModel)]="emailId" email="true" required>
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Street Adress" [(ngModel)]="streetAddress" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput placeholder="City" [(ngModel)]="city" required>
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <input matInput placeholder="State" [(ngModel)]="state" required>
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Zip Code</mat-label>
    <input matInput placeholder="Zip Code" [(ngModel)]="zipCode" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Gender" [(ngModel)]="gender" required>
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp;
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="dateofBirth" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp;
  <mat-form-field> 
    <mat-select placeholder="Blood Group" [(ngModel)]="bloodGroup" required>
      <mat-option value="O+ve">O+ve</mat-option>
      <mat-option value="O-ve">O-ve</mat-option>
      <mat-option value="A+ve">A+ve</mat-option>
      <mat-option value="A-ve">A-ve</mat-option>
      <mat-option value="A+ve">B+ve</mat-option>
      <mat-option value="A-ve">B-ve</mat-option>
      <mat-option value="AB+ve">AB+ve</mat-option>
      <mat-option value="AB+-ve">AB-ve</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Contact Number</mat-label>
    <input matInput placeholder="Contact Number" [(ngModel)]="contactNumber" required>
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" [(ngModel)]="password" required>
  </mat-form-field> &nbsp; &nbsp; &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>
  </mat-form-field>
  <mat-card-actions>
    <div class="auth-error" *ngIf="error">Please fill all required details</div><br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="btn-register"(click)="register()" >Register</button>
    <button class="btn-register-logIn" [routerLink]="['/login']" routerLinkActive="router-link-active">Log In</button>
    </mat-card-actions>
</div>
