<header class="header">
    <div id="userInfo" hidden>{{jsonData}}</div>
    <span class="heading--primary">Red Cross</span><br>
    <span class="heading--sub">Blood management System</span>
    <ul>
      <li><a class="active" (click)="userHomePage()">Home</a></li>
      <li><a><span class="navbar-links" (click)="searchBloodBankPage()">Search Blood Bank</span></a></li>
      <li><a><span class="navbar-links" (click)="searchDonorPage()">Search Donor</span></a></li>
      <li><a ><span class="navbar-links" (click)="updateProfilePage()">Update Profile</span></a></li>
      <li><a><span class="navbar-links" (click)="viewAppointmentUser()">View Appointment</span></a></li>
      <li><a><span class="navbar-links" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</span></a></li>
      </ul>
   </header>
<div class="example-container">
               &nbsp;&nbsp;&nbsp;
          <input class="searchZipCode" placeholder="Zip Code" [(ngModel)]="zipCodeValue">    
          <button type="button" class="btn-searchPage" (click)="searchBloodBank()">Search Blood Bank</button>
      </div>
  <div class="mapSearch">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8-table">
               <ng-container matColumnDef="hospitalName">
                 <th mat-header-cell *matHeaderCellDef> Hospital Name </th>
                 <td mat-cell *matCellDef="let element">
                  <button class="table-btn" (click)="bookAppointment(element)">Book Appointment</button> &nbsp; &nbsp; &nbsp; {{element.hospitalName}} </td>
               </ng-container>
              <ng-container matColumnDef="hospitalEmailId">
                 <th mat-header-cell *matHeaderCellDef> Email Id </th>
                 <td mat-cell *matCellDef="let element"> {{element.hospitalEmailId}} </td>
               </ng-container>
               
               <ng-container matColumnDef="hospitalZipCode">
                 <th mat-header-cell *matHeaderCellDef> Zip Code </th>
                 <td mat-cell *matCellDef="let element"> {{element.hospitalZipCode}} </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             </table>
         </div>
 
 <router-outlet></router-outlet>
   