<header class="header">
  <span class="heading--primary">Red Cross</span><br>
  <span class="heading--sub">Blood management System</span>
 </header>
 <div class="login-body">
<div class="example-container">
  <span class="heading--login">Forgot Password</span><br><br><br><br>
  <span class="heading--sub-sub">Enter your recovery email</span><br><br>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)]="emailId" name="username" required>
  </mat-form-field>
  <div class="footer-forgotPassword">
  <mat-card-actions>
    <button forgotPassword mat-raised-button (click)="forgorPassword()" color="primary">Next</button>
  </mat-card-actions>
</div>
</div>